body {
    background-color: black;
    padding: 0;
    margin: 0;
}

#game {
    /*border: 1px solid white;*/
    background-color: black;
    background: url("bg.png") repeat;
}

#case {
    background-color: white;
}
